{% extends 'main/base.html' %}

{% block title %}
Классификатор текста
{% endblock %}

{% block content %}
    <h1>Определить жанр сказки</h1>
    <p>Данный классификатор позволяет распределять сказки по двум категориям: Волшебные сказки и Сказки о животных</p>
    <form method="post">
        {% csrf_token %}
        <br>
        {{form.text_news}}<br>
       <button type="submit" class="btn btn-success">Классифицировать</button>
        <br>
        <label class="form-label"> {{predict}} </label>
        <br>
        <span>{{ error }}</span>
    </form>
{% endblock %}